/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* background: url("../../static/img/bert-b-rhNff6hB41s-unsplash.jpg"); */
    background: url("../../static/img/cassi-josh-lhnOvu72BM8-unsplash.jpg");
    /* background: url("../../static/img/pawel-czerwinski-S3egExGajoc-unsplash.jpg"); */
    /* background: url("../../static/img/richard-horvath-RAZU_R66vUc-unsplash.jpg"); */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    margin: auto;
    width: 50vw;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
