<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400px, initial-scale=1.0">
    <title>Failure</title>
</head>
<body>
    <h1>Failure</h1>
    <h5>Failed authentication.</h5>
</body>
</html>
