<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400px, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <hr />
    <div>
        <form method="post" action="/login">
            <div style="margin: 10px">
                <label for="username">Username</label>
                <input
                    id="username"
                    name="username"
                    type="text"
                    placeholder="jsmith"
                    />
            </div>
            <div style="margin: 10px">
                <label for="password">Password</label>
                <input
                    id="password"
                    name="password"
                    type="text"
                    />
            </div>
            <div style="margin: 10px">
                <input type="submit" />
            </div>
        </form>
    </div>
</body>
</html>
