<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400px, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <hr />
    <div>
        <form method="post" action="/login">
            <input id="username" name="username" type="text" />
            <input id="password" name="password" type="text" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
