<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Help - Meerkat DSA</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>Help</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        <div>
            <p>
                Meerkat DSA is free and open source software. Issues may be
                reported on the GitHub Repository.
            </p>
            <p>
                Professional support can be provided from Wildboar Software.
            </p>
        </div>
    </body>
</html>
