<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hibernate - Meerkat DSA</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Hibernation</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        <div>
            <p>
                Hibernation puts Meerkat DSA in a minimally-responsive state
                where all connections and operations are rejected. This can be
                if a severe security vulnerability is discovered.
            </p>
        </div>
        <hr />
        <h2>Actions</h2>
        <div>
            {{#if hibernatingSince}}
                <span style="color: grey;">HIBERNATING SINCE {{hibernatingSince}}</span>
                <form action="/hibernate/end" method="POST">
                    <button type="submit">End Hibernation</button>
                </form>
            {{else}}
                <span style="color: green;">ACTIVE</span>
                <form action="/hibernate/end" method="POST">
                    <button type="submit">Begin Hibernation</button>
                </form>
            {{/if}}
        </div>
        <hr />
    </body>
</html>
