<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Meerkat DSA Web Admin</title>
        <meta name="referrer" content="no-referrer">
        <meta name="csrf-token" content="{{csrfToken}}">
        <meta name="robots" content="noindex">
        <style>
            body {
                background-color: black;
                color: white;
            }
            a {
                color: #F44336;
            }
            a:hover {
                color: #EF9A9A;
            }
            a:visited {
                color: #7B1FA2;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>Meerkat DSA Web Administration Portal</h1>
        <hr />
        <div>
            <p>
                Meerkat DSA is an X.500 Directory Server / LDAP Server written
                in TypeScript by
                <a href="https://wildboarsoftware.com/">Wildboar Software</a>.
                Documentation can be found
                <a href="https://wildboar-software.github.io/directory/">here</a>.
            </p>
        </div>
        <hr />
        <div>
            <p>
                Your DSA's Application Entity (AE) Title, as taken from it's
                signing certificate, if configured:
            </p>
            <p>
                <pre>{{dsa}}</pre>
            </p>
        </div>
        <hr />
        <div>
            <p style="color: yellow;">
                <b>WARNING:</b>&nbsp;
                Users of the web admin console have full read-and-write access
                to the directory. Consider disabling the web admin console when
                you do not need it anymore.
            </p>
        </div>
        <hr />
        <nav>
            <ul>
                <li>
                    <a href="/dsait/dse/{{rootuuid}}">Go to Root DSE</a>
                </li>
                {{!-- <li>
                    <span>Schema</span>
                    <ul>
                        <li><a href="/oc">Object Classes</a></li>
                        <li><a href="/at">Attribute Types</a></li>
                        <li><a href="/as">Abstract Syntaxes</a></li>
                        <li><a href="/mr">Matching Rules</a></li>
                        <li><a href="/nf">Name Forms</a></li>
                        <li><a href="/avc">Context Types</a></li>
                        <li><a href="/lsx">LDAP Syntaxes</a></li>
                    </ul>
                </li> --}}
                <li>
                    <a href="/ob">Operational Bindings</a>
                </li>
                <li>
                    <span>Public Key Infrastructure</span>
                    <ul>
                        <li><a href="/signing-certs">Signing Certification Chain</a></li>
                        <li><a href="/signing-crls">Signing Certificate Revocation Lists</a></li>
                        <li><a href="/signing-anchors">Signing Trust Anchors</a></li>
                        <li><a href="/tls-certs">TLS Certification Chain</a></li>
                        <li><a href="/tls-crls">TLS Certificate Revocation Lists</a></li>
                        <li><a href="/tls-anchors">TLS Trust Anchors</a></li>
                        <li><a href="/pki-selfcheck">PKI Self-Check</a></li>
                        <li><a href="/remote-crl-cache">Remote CRLs Cache</a></li>
                        {{!-- <li><a href="/ocsp-cache">OCSP Response Cache</a></li> --}}
                    </ul>
                </li>
                <li>
                    <span>System</span>
                    <ul>
                        <li><a href="/hibernate">Hibernate</a></li>
                        <li><a href="/updates">Updates</a></li>
                        <li><a href="/help">Support</a></li>
                        <li><a href="/conformance">Conformance</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </li>
            <ul>
        </nav>
    </body>
</html>
