<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Meerkat DSA Web Admin</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
            a {
                color: #F44336;
            }
            a:hover {
                color: #EF9A9A;
            }
            a:visited {
                color: #7B1FA2;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>Meerkat DSA Web Administration Portal</h1>
        <hr />
        <div>
            <p>
                Meerkat DSA is an X.500 Directory Server / LDAP Server written
                in TypeScript by Wildboar Software.
            </p>
        </div>
        <hr />
        <nav>
            <ul>
                <li>
                    <a href="/dsait/tree">DSA Information Tree View</a>
                </li>
                {{!-- <li>
                    <span>Schema</span>
                    <ul>
                        <li><a href="/oc">Object Classes</a></li>
                        <li><a href="/at">Attribute Types</a></li>
                        <li><a href="/as">Abstract Syntaxes</a></li>
                        <li><a href="/mr">Matching Rules</a></li>
                        <li><a href="/nf">Name Forms</a></li>
                        <li><a href="/avc">Context Types</a></li>
                        <li><a href="/lsx">LDAP Syntaxes</a></li>
                    </ul>
                </li> --}}
                <li>
                    <a href="/ob">Operational Bindings</a>
                </li>
                <li>
                    <span>System</span>
                    <ul>
                        <li><a href="/hibernate">Hibernate</a></li>
                        <li><a href="/updates">Updates</a></li>
                        <li><a href="/help">Support</a></li>
                        <li><a href="/conformance">Conformance</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </li>
            <ul>
        </nav>
    </body>
</html>
