<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Updates - Meerkat DSA</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>Updates</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        <div>
            <p>
                Meerkat DSA is published to the Docker registry. To update
                Meerkat DSA, simply pull the newest version and configure your
                container engine (Docker Compose, Kubernetes, etc.) to use this
                newer version.
            </p>
        </div>
    </body>
</html>
