[Unit]
Description=Meerkat Directory System Agent
After=network.target

[Service]
Type=simple
User=meerkat
Group=meerkat
ExecStart=/bin/sh /usr/bin/meerkat
Restart=no
WorkingDirectory=/var/lib/meerkat
Environment=NODE_ENV=production
Environment=DATABASE_URL=file:/var/lib/meerkat/meerkat.db
EnvironmentFile=/etc/meerkat/meerkat.env
NoNewPrivileges=yes
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
