#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd dist/apps/meerkat && npm ci --only=production --no-audit --no-fund --no-save
	cd dist/apps/meerkat && npm install --no-package-lock --no-save prisma
