Package: meerkat-dsa
Version: 1.0.0
Section: database
Priority: optional
Architecture: i386
Homepage: https://github.com/Wildboar-Software/directory
Maintainer: Jonathan M. Wilbur <jonathan.wilbur@wildboarsoftware.com>
Description: X.500 Directory Server (DSA) and LDAP Server by Wildboar Software.
 Meerkat DSA is an X.500 Directory System Agent (DSA) created by Wildboar
 Software, which includes full support for the Directory Access Protocol (DAP),
 Directory System Protocol (DSP), Directory Operational Binding Management
 Protocol (DOP), and Lightweight Directory Access Protocol (LDAP). The X.500
 protocols named above (everything except LDAP) are transported over IDM
 transport as described in ITU Recommendation X.519. Meerkat DSA also serves
 a lightweight web administration console for managing your directory.
