# This Docker Compose file is meant for production deployments, unlike the
# Docker Compose file at the root of this monorepo, which is just intended for
# local development and testing.
version: '3.7'

services:
  meerkat:
    image: ghcr.io/wildboar-software/meerkat-dsa:latest
    # env_file:
    #   - .env
    environment:
      # What appears in this section overrides anything in .env.
      DATABASE_URL: file:./meerkat.db
      # MEERKAT_TLS_CERT_FILE: /data/keypair/cert.pem
      # MEERKAT_TLS_KEY_FILE: /data/keypair/key.pem
      # MEERKAT_SIGNING_CERTS_CHAIN_FILE: /data/keypair/cert.pem
      # MEERKAT_SIGNING_KEY_FILE: /data/keypair/key.pem
      # MEERKAT_INIT_JS: /data/init.mjs
    hostname: 'meerkat'
    labels:
      author: Wildboar Software
      app: meerkat
      version: "3.3.0"
    ports:
      - '1389:389/tcp' # LDAP TCP Port
      - '4632:4632/tcp' # IDM Socket
      - '18080:18080/tcp' # Web administration console
    volumes:
      - type: bind
        source: ./data
        target: /data
        read_only: true
    depends_on:
      init-db:
        condition: service_completed_successfully

  init-db:
    image: wildboarsoftware/meerkat-dsa:latest
    # env_file:
    #   - .env
    environment:
      # What appears in this section overrides anything in .env.
      DATABASE_URL: file:./meerkat.db
    command:
      - npx
      - prisma
      - migrate
      - deploy
      - --schema=/srv/meerkat/prisma/schema.prisma
    depends_on:
      db:
        condition: service_started

# volumes:
#   data: {}

# networks:
#   default:
#     external:
#       name: meerkat-deploy
