name: CLI Workflow

on:
  push:
    tags:
      - v4.*
  # push:
  #   branches:
  #     - main
  #     - master

jobs:

  publish_libs:
    name: Publish Libraries
    runs-on: ubuntu-latest
    environment: production
    strategy:
      fail-fast: false
      matrix:
        library:
          - 'idm'
          - 'ldap-socket'
          - 'meerkat-types'
          - 'x500-cli-config'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25'
      - name: Install NPM Packages
        run: npm ci
      - name: Generate Prisma Client
        run: npx -q prisma generate --schema=apps/meerkat/src/prisma/schema.prisma
      - name: Compile ${{ matrix.library }} Library
        run: npx nx --tuiAutoExit=true --outputStyle=static run ${{ matrix.library }}:build --skipNxCache --skipRemoteCache --skip-nx-cache --verbose
        # We use || true here because the version numbers will usually be the
        # same between pipeline runs, so most attempted publishing will fail due
        # to duplicate version numbers.
      - name: Publish NPM Package
        run: npm publish --provenance --ignore-scripts
        working-directory: ./dist/libs/${{ matrix.library }}
        timeout-minutes: 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  build_x500_cli:
    name: Build the X.500 CLI
    runs-on: ubuntu-latest
    needs:
      - publish_libs
    environment: production
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25'
      - name: Install NPM Packages
        run: npm ci
      - name: Compile the X.500 CLI
        run: npx nx --tuiAutoExit=true --outputStyle=static run x500-cli:build:production --skipNxCache --skipRemoteCache --skip-nx-cache --verbose
      - name: Publish NPM Package
        run: npm publish --provenance --ignore-scripts
        working-directory: ./dist/libs/x500-cli
        timeout-minutes: 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
