name: Publish Libraries
on:
  push:
    tags:
      - v2.*
      - v3.*
      - v4.*

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        library:
          - idm
          - ldap-socket
          - ocsp-client
          - osi-net
          - rose-transport
          - x500-auth-ts
          # - x500-cli-config
          - x500-client-ts
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '25'
      - name: Use .npmrc file
        run: cp .npmrc libs/${{ matrix.library }}/.npmrc
      - name: Install dependencies for ${{ matrix.library }}
        working-directory: libs/${{ matrix.library }}
        run: npm install
      - name: Publish package ${{ matrix.library }}
        working-directory: libs/${{ matrix.library }}
        # --allow-slow-types: because the generate code has way too many examples
        # --verbose: for some reason, it hangs without this.
        # --allow-dirty: just because of package-lock.json
        run: npx jsr publish --allow-slow-types --verbose --allow-dirty
