name: Meerkat DSA Workflow

on:
  push:
    tags:
      - v4.*

env:
  CLUSTER_NAME: production
  RESOURCE_GROUP: production
  ZONE: mkdemo.wildboar.software
  STORAGE_ACCOUNT_NAME: wildboarprod
  CHART_CONTAINER: helm-charts
  CHART_REPO: wildboar
  CHART_NAME: meerkat-dsa

jobs:

  lint:
    name: Linting
    timeout-minutes: 5
    runs-on: ubuntu-latest
    environment: production
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        timeout-minutes: 2
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25'
        timeout-minutes: 2
      # - name: Install NPM Packages
      #   run: npm ci
      #   timeout-minutes: 5
      # - name: Generate Prisma Client
      #   run: npx -q prisma generate --schema=apps/meerkat/src/prisma/schema.prisma
      #   timeout-minutes: 1
      # - name: Run Linter
      #   run: npx nx --tuiAutoExit=true --outputStyle=static run-many --target=lint --all --skipNxCache --skipRemoteCache --skip-nx-cache --verbose
      #   timeout-minutes: 2
      - name: Lint Helm Charts
        run: helm lint ./k8s/charts/meerkat-dsa/
        timeout-minutes: 1

  # TODO: For now, this job is disabled. For some reason, it just hangs there
  # indefinitely until it times out. This happens locally, so I know it's not
  # just a GitHub Actions problem.
  # unit_testing:
  #   name: Unit Testing
  #   runs-on: ubuntu-latest
  #   environment: production
  #   strategy:
  #     fail-fast: false
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6
  #     - name: Install Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: '25'
  #     - name: Install NPM Packages
  #       run: npm ci
  #     - name: Generate Prisma Client
  #       run: npx -q prisma generate --schema=apps/meerkat/src/prisma/schema.prisma
  #     - name: Run Unit Tests
  #       run: npx nx --tuiAutoExit=true --outputStyle=static run-many --target=test --all --skipNxCache --skipRemoteCache --skip-nx-cache --verbose
  #       timeout-minutes: 5

  publish_libs:
    name: Publish Libraries
    timeout-minutes: 15
    runs-on: ubuntu-latest
    environment: production
    strategy:
      fail-fast: false
      matrix:
        library:
          - 'idm'
          - 'ldap-socket'
          - 'meerkat-types'
          - 'x500-cli-config'
          - 'rose-transport'
          - 'osi-net'
          - 'ocsp-client'
          - 'x500-client-ts'
          - 'x500-auth-ts'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        timeout-minutes: 2
      - name: Install Node.js
        uses: actions/setup-node@v6
        timeout-minutes: 2
        with:
          node-version: '25'
      - name: Install NPM Packages
        run: npm ci
        timeout-minutes: 5
      - name: Generate Prisma Client
        run: npx -q prisma generate --schema=apps/meerkat/src/prisma/schema.prisma
        timeout-minutes: 1
      - name: Compile ${{ matrix.library }} Library
        run: npx nx --tuiAutoExit=true --outputStyle=static run ${{ matrix.library }}:build --with-deps --skipNxCache --skipRemoteCache --skip-nx-cache --verbose
        timeout-minutes: 5
        # We use || true here because the version numbers will usually be the
        # same between pipeline runs, so most attempted publishing will fail due
        # to duplicate version numbers.
      - name: Publish NPM Package
        run: npm publish --provenance --ignore-scripts
        working-directory: ./dist/libs/${{ matrix.library }}
        timeout-minutes: 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  build_meerkat_dsa:
    name: Build Meerkat DSA
    timeout-minutes: 20
    runs-on: ubuntu-latest
    needs:
      - publish_libs
    environment: production
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        timeout-minutes: 2
      - name: Determine Meerkat DSA Version
        timeout-minutes: 1
        run: |
            echo "PUBLISHING_MEERKAT_VERSION=$(cat k8s/charts/meerkat-dsa/Chart.yaml | grep appVersion | sed 's/appVersion: //' | sed 's/\r$//')" >> $GITHUB_ENV
      - name: Install Node.js
        uses: actions/setup-node@v6
        timeout-minutes: 2
        with:
          node-version: '25'
      - name: Install NPM Packages
        run: npm ci
        timeout-minutes: 5
      - name: Generate Prisma Client
        run: npx -q prisma generate --schema=apps/meerkat/src/prisma/schema.prisma
        timeout-minutes: 1
      - name: Compile Meerkat DSA
        run: npx nx --tuiAutoExit=true --outputStyle=static run meerkat:build:production --skipNxCache --skipRemoteCache --skip-nx-cache --verbose
        timeout-minutes: 10
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        timeout-minutes: 10
      - name: Login to the Container Registry
        uses: docker/login-action@v3
        timeout-minutes: 2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Produce Docker Metadata
        id: docker_meta
        uses: docker/metadata-action@5
        timeout-minutes: 1
        with:
          images: ghcr.io/wildboar-software/meerkat-dsa
          tags: |
            type=ref,event=tag
            type=sha,format=long
      - name: Build and push
        uses: docker/build-push-action@v6
        timeout-minutes: 10
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          context: ./
          file: ./meerkat.dockerfile
      - name: Install Cosign
        uses: sigstore/cosign-installer@v4
        timeout-minutes: 1
      - name: Sign the images with GitHub OIDC Token (Sigstore)
        timeout-minutes: 1
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ steps.docker_meta.outputs.tags }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
          # cosign verify ${images} \
          # --certificate-identity=https://github.com/Wildboar-Software/directory/.github/workflows/WORKFLOW_NAME@refs/heads/master \
          # --certificate-oidc-issuer=https://token.actions.githubusercontent.com

  # HOW DOES THIS EVEN WORK?
  # There is no point in this job where it installs Helm, but yet, somehow, this
  # job runs the `helm` command successfully!
  helm:
    name: Publish Helm Chart
    timeout-minutes: 10
    runs-on: ubuntu-latest
    environment: production
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        timeout-minutes: 2
      - name: Create the Helm Package
        run: helm package .
        timeout-minutes: 2
        working-directory: ./k8s/charts/meerkat-dsa
      - name: Download Existing Helm Chart index
        run: curl https://${{ env.STORAGE_ACCOUNT_NAME }}.blob.core.windows.net/${{ env.CHART_CONTAINER }}/index.yaml > existing-index.yaml
        working-directory: ./k8s/charts/meerkat-dsa
        timeout-minutes: 2
      - name: Create the Helm Index
        run: |
          helm repo index . \
            --url https://${{ env.STORAGE_ACCOUNT_NAME }}.blob.core.windows.net/${{ env.CHART_CONTAINER }} \
            --merge existing-index.yaml
        working-directory: ./k8s/charts/meerkat-dsa
        timeout-minutes: 2
      - name: Upload Helm Packages
        uses: bacongobbler/azure-blob-storage-upload@main
        timeout-minutes: 2
        with:
          source_dir: ./k8s/charts/meerkat-dsa
          container_name: ${{ env.CHART_CONTAINER }}
          connection_string: ${{ secrets.AZURE_BLOB_CNXN_STRING }}
          extra_args: '--pattern *.tgz'
          overwrite: 'true'
      - name: Upload Helm Index
        uses: bacongobbler/azure-blob-storage-upload@main
        timeout-minutes: 2
        with:
          source_dir: ./k8s/charts/meerkat-dsa
          container_name: ${{ env.CHART_CONTAINER }}
          connection_string: ${{ secrets.AZURE_BLOB_CNXN_STRING }}
          extra_args: '--pattern index.yaml'
          overwrite: 'true'
